.channels-tab {
    height: 100%;
    overflow: auto; 
    background-color: #303030;

    .channel-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        width: 100%;
        flex-wrap: nowrap;
        cursor: pointer;

        .channel-logo {
            position: relative;
            display: inline-block;
            border-radius: 50%;
        }
  
        .channel-name {
            overflow: hidden;
            margin-right: 20px;
            width: 100%;
            font-size: 18px;
        }
    
        .mat-divider {
            border-top-color: rgba(255, 255, 255, 0.12);
        }
    }
}