<div class="channels-tab">
    <mat-list *ngFor="let channel of channels$ | async">
        <mat-list-item (click)="playVideo(channel)">
            <div class="channel-container">
                <div class="channel-logo">
                    <img style="border-radius: 50%" src='../../assets/images/channel-logo.jpg' height="40">
                </div>
                <div class="channel-name">
                    <span>{{channel.name}}</span>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list-item>
    </mat-list>
</div>