 .plain-text-container {
     margin-left: 25px;

     .free-text {
         max-width: 400px;
         background: transparent;
         padding: 1px;
         border-right: 0px;
         border-left: 0px;
         border-top: 0px;
         border-color: white;
         border-style: solid;
         color: white;
         margin-left: 10px;
         outline: none;
         font-size: 18px;
     }

     ::placeholder {
         color: #c9c9c9;
     }
 }
 