.video-overlay {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 15;
    text-align: center;

    .overlay-message {
        margin: 10px 0;
        font-size: 26px;
    }
}

.error-container {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    text-align: center;
    flex-direction: row;

    .error-img{
        margin-left: 15px;
    }

    .vertical-line {
        border-left: 1px solid #868484;
        height: 78px;
    }

    .error-message {
        font-size: 26px;
        margin-right: 15px;
    }
}