<div style="height: 100%">
    <div class="player">
        <dash-player iframeApi style="position: absolute;" (onVideoStart)="handleVideoStart()" [video]="video" [startFrom]="currentVideo?.startFrom" [embedOptions]="embedOptions"></dash-player>
    </div>
    <div class="video-overlay" *ngIf="!currentVideo || isLoading || isError">
        <img *ngIf="!currentVideo" src="../../assets/images/logo.png" width="150" height="110">
        <div *ngIf="!currentVideo" class="overlay-message">עוד לא בחרת וידיאו</div>
        <div *ngIf="currentVideo && isLoading" class="overlay-message">הוידיאו בדרך!</div>
    </div>

    <div class="error-container" *ngIf="currentVideo && isError">
        <img class="error-img" src="../../assets/images/logo.png" width="100" height="70">
        <div class="vertical-line"></div>
        <div class="error-message">מספר ערוץ לא תקין</div>
    </div>
</div>