:host {
    width: 100%;
    height: 100%;
    display: block;
}

.player-container{
    position: relative;
    overflow: hidden;
    background-color: #000000;
    color: #eee;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100;
    object-fit: contain;
    background: black;
}

.video-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    color: white;
    direction: rtl;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; 

    .video-name {
       display: block;
       flex: 1;
       font-weight: bold;
       font-size: 18px;
       padding-right: 10px;
   }
}
