<ng-container class="player-container" *ngIf="(video$ | async) as video">
    <video width="100%" #videoElement loop="true"></video>

    <div class="video-header" *ngIf="embedOptions.showVideoName">
        <span class="video-name">
            {{video.name}}
        </span>
        <video-header></video-header>
    </div>
</ng-container>