:host {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: block;
    color: inherit;
}

.app-container{
    width: 100%;
    height: 100%;
}

.navbar {
    height: 50px;
    background-color: #f44336;
}

.toggle-button {
    margin-left: 20px;
    width: 100px;
    font-size: 18px;
    background: transparent;
    color: inherit;
}

.search-navbar {
    justify-content: center;
    align-items: center;
    max-width: 70%;
}
   
#right {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

#middle {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

#sections-container {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    transition: all 500ms ease-in;
}

#sections-container.middle {
    transform: translateX(100%);
}

#sections-container.right {
    transform: translateX(0%);
}

.video-only{
    background: black;
    color: white;
    height: 100%;
    width: 100%;
}
