<div *ngIf="embedOptions.showFullUI; else videoOnly" class="app-container mat-app-background">
    <ng-container *ngIf="(currentView$ | async) as currentView">

        <mat-toolbar color="primary" class="navbar">
            <button mat-button (click)="toggleView('right')" class="toggle-button">
                <span>{{currentView === 'right' ? 'בחזרה לנגן' : 'בחר ערוץ' }}</span>
            </button>

            <div class="search-navbar" style="width: 70%;">
                <search (onSelectResult)="channelSelected($event)">
                </search>

                <!-- <button mat-icon-button *ngIf="selectedVideo">
                    <mat-icon>clear</mat-icon>
                </button> -->
            </div>
        </mat-toolbar>

        <div [class.middle]="currentView == 'middle'" [class.right]="currentView == 'right'" id="sections-container">

            <section id="right">
                <channels-tab (onSelect)="channelSelected($event)"></channels-tab>
            </section>

            <section id="middle">
                <embed-video [selectedVideo]="selectedVideo" [embedOptions]="embedOptions"></embed-video>
            </section>
        </div>
    
    </ng-container>
</div>

<ng-template #videoOnly>
    <div class="video-only" *ngIf="!embedOptions.showFullUI">
        <embed-video [selectedVideo]="selectedVideo" [embedOptions]="embedOptions"></embed-video>
    </div>
</ng-template>