/* You can add global styles to this file, and also import other style files */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  body{
    margin: 0;
    padding: 0;
    font-family: "opensans";
    color: white;
  }

  button {
    font-family: "opensans" !important;
  }

  input {
    font-family: "opensans" !important;
  }

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/MaterialIcons-Regular.ttf');
}

@font-face {
    font-family: "opensans";
    src: url('/assets/fonts/opensanshebrew-regular.ttf');
}

body div.cdk-overlay-container .cdk-overlay-pane {
  z-index: 1001;
  background-color: white;
  color: black;
  position: absolute
}

mat-form-field div.mat-form-field-underline{
  background-color: black;
  position: inherit !important;
}