<div class="search-container">
    <mat-form-field style="width: 100%;" floatLabel="never">
        <input #input name="search" type="text" placeholder="חיפוש ערוצים" [formControl]="searchInput" matInput
            [matAutocomplete]="auto">

        <mat-autocomplete class="results-list" #auto="matAutocomplete">
            <ng-container *ngIf="channels$ | async as results">
                <mat-option *ngIf="results?.length === 0" [style.height.px]="50">
                    לא נמצאו תוצאות
                </mat-option>
                <mat-option *ngFor="let result of results" [style.height.px]="50" [value]="result.name"
                    (onSelectionChange)="onSearchResultClicked(result)">
                    {{result.name}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>

        <mat-icon matSuffix class="search-button" *ngIf="input.value === ''">
            search
        </mat-icon>

        <mat-icon matSuffix class="delete-search-button" *ngIf="input.value !== ''" (click)="input.value=''">
            backspace
        </mat-icon>

    </mat-form-field>
</div>