.search-container {
    height: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 18px;
    color: black;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    
    .search-button{
        vertical-align: bottom;
    }
    
    .delete-search-button{
        vertical-align: bottom;
        cursor: pointer;
    }
}